{
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "testuser",
    "database": "",
    "password": "TEST1234!",
    "entities": ["{src,dist}/entities/*.entity.js"],
    "migrationsTableName": "migration_table",
    "migrations": ["dist/migration/**/*-migration.js"],
    "cli": {
      "migrationsDir": "src/migration",
      "entitiesDir": "src/entities"
    },
    "synchronize": false
  }